{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <script src="https://kit.fontawesome.com/38b200e1c8.js" crossorigin="anonymous"></script>
</head>
<body>

<!-- Bootstrap creates nice header -->
<div class="page-header">
    <!-- / takes you home OR {% url "post_list" %} to go back to main page -->
        <h1><a class="title" href="{% url 'post_list' %}">Jackson's Blog</a></h1>
        <h1><a class="add-blog-post" href="{% url 'post_new' %}">&#43;</a></h1>
</div>

<!-- Bootstrap creates a container, row and column -->
<div class="content container">
    <div class="row">
        <div class="col-8-md">

            {% block content %}
            {% endblock %}

        </div>
    </div>
</div>
</body>
</html>