<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jackson's Blog</title>
</head>
<body>
<h1><a href="">Jackson's Blog</a></h1>
<!-- takes posts from stuff_for_frontend and connects it with a forloop -->
{% for post in posts %}
    <div>
        <p>Published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <!-- linebreaksbr == makes sure lines are breaking nicely-->
        <p>{{ post.text| linebreaksbr }}</p>
    </div>
{% endfor %}

</body>
</html>