<!-- detail.html is the page that gets clicked into from the main.html page -->
{% extends 'blog/base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <div class="post">
    
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>

        {% else %}
            <a href="{% url 'post_publish' pk=post.pk %}" class="btn btn-primary">Publish</a>

        {% endif %}

        {% if user.is_authenticated %}
            <a href="{% url 'post_edit' pk=post.pk %}"><i class="far fa-edit fa-2x" style="color: purple;"></i></a>
        {% endif %}
        
        <h1>{{ post.title }}</h1>
        <p class="text">{{ post.text|linebreaksbr }}</p>
    </div>

    <hr>
    <a href="{% url 'add_comment_to_post' pk=post.pk %}" class="btn btn-secondary">Add Comment</a>
    <!-- comment will be short for all the comments as a whole -->
    {% for comment in post.comments.all %}
        <div class="comment">

            <p style="margin: auto; color: #c8a2c8;">{{ comment.created_date }}</p>
            <strong><i>{{ comment.author }}</i></strong>

            <p>{{ comment.text }} <a href="{% url 'remove_comment' pk=comment.pk %}" class="btn btn-secondary"><i class="fas fa-times"></i></a></p>
x
        </div>
        {% empty %}
            <p>No comments yet...</p>
    {% endfor %}
{% endblock %}

